@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --Darkcyan: hsl(185, 75%, 39%);
    --Verydarkdesaturatedblue: hsl(229, 23%, 23%);
    --Darkgrayishblue: hsl(227, 10%, 46%);
    --Darkgray: hsl(0, 0%, 59%);

}

body {
    background-color: var(--Darkcyan);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Kumbh Sans', sans-serif;
}

.img-container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.upperimg {
    height: 100vh;
    width: 50vw;
    background-image: url('./images/bg-pattern-top.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    top: -385px;
    left: -22px;
    overflow: hidden;

}

.lowerimg {
    height: 100vh;
    width: 70vw;
    background-image: url('./images/bg-pattern-bottom.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    bottom: -488px;
    right: -236px;
    overflow: hidden;
}

.card-img img {
    border-radius: 15px 15px 0 0;
}

.container {
    background-color: white;
    margin: auto;
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 15px;
    box-shadow: 2px 0px 13px -6px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 2px 0px 13px -6px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 2px 0px 13px -6px rgba(0, 0, 0, 0.6);
}

.profile-img {
    position: relative;
    top: -52px;
}

.profile-img img {
    border-radius: 50%;
    border: 4px solid white;
    margin-bottom: -2.5rem;
}

.content {
    margin-bottom: 25px;
}

.content h2 {
    margin: 8px;
}

span {
    margin: 0 3px;
    color: var(--Darkgrayishblue);
    font-weight: 400;
}

.content h4 {
    color: var(--Darkgray);
    font-weight: 400;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 25px 0;
}

hr {
    color: var(--Darkgray);
    opacity: 0.2;
}

.stats p {
    color: var(--Darkgray);
    font-weight: 400;
    font-size: 0.8rem;
    margin: 5px;
}

h2 {
    font-size: 18px;
    font-weight: 700;
    color: var(--Verydarkdesaturatedblue);
}